@charset "UTF-8";


#menu_a {
	background: linear-gradient(180deg, rgba(0, 0, 255, 0.5), rgb(228, 242, 132, 0.4));
	width: 100%;
	min-height: 160px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	margin: 7px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1em;
	box-sizing: border-box;
}

.title_a {
	font-size: 2.5rem;
	line-height: 1.2;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0 0 0.2em rgba(0, 0, 0, 1);
	flex: 1 1 100%;
	margin-bottom: 0.5em;
	text-align: center;
	margin-left: 1em;
}

.menu1,
.menu2,
.menu3,
.menu4,
.menu5,
.menu6 {
	font-size: 16px;
	width: 100％;
	margin: 0.5em;
	padding: 0.7em 1em;
	position: relative;

}

.menu1:hover,
.menu2:hover,
.menu3:hover,
.menu4:hover,
.menu5:hover,
.menu6:hover {
	background-color: rgb(96, 96, 96, 0.35);
	color: #fff;
	/* 白い文字 */
	border: none;
	/* 枠なし */
	border-radius: 100px;
	/* 角を丸く */
	cursor: pointer;
	/* マウスカーソルをポインターに */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	/* 軽い影 */
	transition: background-color 0.3s ease;

	background-color: rgb(209, 209, 209、0.3);
	/* ホバー時に少し濃く */
}

.menu0 {
	position: absolute;
	top: 1em;
	right: 1em;
	width: auto;
	height: auto;
}
